In [7]:
if 100 > 10:
    print(True)
else:
    print(False)

True

In [10]:
if 10 == 10:
    print(True)

True

In [15]:
if 12 == 10:
    print(True)
else:
    print(False)

False

In [16]:
a = 10

In [21]:
if a == 10:
    print(True)
else:
    print(False)

True

In [20]:
if 2 != 3:
    print(True)
else:
    print(False)

True

In [22]:
if 4 >= 2:
    print(True)
else:
    print(False)

True

In [23]:
if 2 != 2:
    print(True)
else:
    print(False)

False

In [26]:
if 4 >= 5:
    print(True)
else:
    print(False)

False

In [27]:
if 3 < 5:
    print(True)
else:
    print(False)

True

In [1]:
for i in [0, 1, 2, 3, 4, 5]:
    print(i)

0
1
2
3
4
5

In [2]:
my_list = [0, 1, 2, 3, 4, 5]
for i in my_list:
    if i % 2 == 0:
        print(i)

0
2
4

In [5]:
my_list = [0, 1, 2, 3, 4, 5]
for i in my_list:
    if i % 2 == 1:
        print(i)

1
3
5

In [6]:
my_list = [0, 1, 2, 3, 4, 5]
for i in my_list:
    if i == 3:
        print(i)

3

In [11]:
my_list = [0, 1, 2, 3, 4, 5]
for i in my_list:
    if 2 <= i and i <= 4:
        print(i)

2
3
4

In [13]:
my_list = ['okinawa','tokyo','osaka','fukuoka','hokkaido']
for i in my_list:
    if i == 'okinawa':
        print(i)

okinawa

In [21]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [22]:
for i in range(11):
    if i <= 3:
        print(i)

0
1
2
3

In [23]:
my_str = 'okinawa'
for i in my_str:
    print(i)

o
k
i
n
a
w
a

okinawa
tokyo
osaka
fukuoka
hokkaido

In [25]:
my_list = ['okinawa','tokyo','osaka','fukuoka','hokkaido']
for i in my_list:
    for l in i:
        print(l)

o
k
i
n
a
w
a
t
o
k
y
o
o
s
a
k
a
f
u
k
u
o
k
a
h
o
k
k
a
i
d
o

In [27]:
a = 0
while a < 10:
    if a % 2 == 0:
        print(a)
    a = a + 1

0
2
4
6
8